
.publication-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3em;
    gap:1em;
}
.publication-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border:rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: 20em; /* Largeur fixe de chaque blog-card, ajustez selon vos besoins */
    margin:0.5em;
    text-align: center;
}

.publication-title {
    font-weight: bold;
    margin-bottom: 8px;
    padding : 1em 0;
    word-wrap: break-word; /* Permet aux mots longs de revenir à la ligne */
}

.publication-desc{
    padding :1em 0;
    text-align: justify;
}

.publication-created-by {
    text-align: justify;
    color: #555;
}

.publication-card p {
    margin: 0;
}
