.navbar {
    background-color: #333;
    position: fixed;
    width: 100%; 
    top: 0; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.titleH2{
  padding: 0 0 0 2em !important;;
}

.dropdown {
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 100% !important;
  }
  .dropbtn:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .btn-logout{
    background-color: #f9f9f9 !important;
    margin:0 !important;
    width: 100% !important;
  }
  
  .dropdown-content a,
  .dropdown-content .btn-logout {
    color: black;
    padding: 12px 16px !important;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover,
  .dropdown-content .btn-logout:hover {
    background-color: #ddd !important;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 

